@import "partials/normalize";
@import "partials/variables";
@import "partials/mixins";
@import "partials/nav";
@import "partials/main";
@import "partials/footer";



body{background: #E6E7E8;
     margin: 0 15% 0 15%;
     font-family: 'Open Sans', sans-serif;}

.container{width: 960px;}
header{background: white;
       position: relative;
       top: 28px;
       article{clear:both;
               text-align: center;
               padding-bottom: 40px;
        h1{font-family: 'Mirza', cursive;
           font-size: 60px;
           padding-top: 30px;}
        img{ width: 4%;
             margin: -40px 2px -13px 0;
             background: $tan;}
        input{width: 350px;
              height: 35px;
              padding: 0 10px 0 20px;
              outline:none;}
            }
     }
