footer{
        clear: both;
        position: relative;
        background: $tan;
        height: 120px;

        .hamburgerbottom{
                         display:none;
                        }
        .logo{
              float: left;
              margin: 30px 0 0 2%;
             }
        ul{
            list-style: none;
            float: left;
            margin: 13px 40px 10px 80px;

            a{
              line-height: 30px;}
             }
        button{
               display:none;
              }
}
